<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="camweb.css">
       <script src="smoothie.js"></script>
       <script src="pipyscripts.js"></script>
       <script src="newweb.js"></script>
       <script src="pimaskedit.js"></script>
   </head>
   <body>
       <div id="header">
           <table width="100%">
               <tr><td rowspan="2"><h2>Pootle's pi camera demo</h2></td><td id="appstatus"></td></td></tr>
               <tr><td id="appmessage">messages go here</td></tr>
           </table>
           <table>
               <tr><th>CPU temperature</th>
                   <th title="total cpu load - instant and smoothed" ><span>CPU load </span><span id="picpuavg" ></span></th>
                   <th><span class="status_head" >Camera</span></th>
                   <th><span class="status_head" >live video</span></th>
                   <th><span class="status_head" >triggered video</span></th>
                   <th><span class="status_head" >time lapse</span></th>
                   <th><span class="status_head" >streaming</span></th>
               </tr>
               <tr>
                   <td rowspan="2"><canvas id="pitempchart" width="200" height="60"></canvas></td>
                   <td rowspan="2"><canvas id="picputime" width="200" height="60"></canvas></td>
                   <td>{camstatus[cont]:}</td>
                   <td><span class="status_value" id="livevidst" >yy</span></td>
                   <td><span class="status_value" id="tripvidst" >zz</span></td>
               </tr>
               <tr>
                   {strmctrl:}
                   <td>
                        <span class="intlink" href="setdefaults" title="use current settings as defaults on startup" onclick="inpageAction('setdefaults')">
                            save defaults</span>
                   </td>
                   <td><a class="intlink" href="settings" title="save the current camera settings to a file">save settings</a></td>
                   <td><form>
                        <label class='filefixerlbl' title="apply settings previously saved">apply settings
                        <input id="fileupload" name="myfile" type="file" onchange="appUpload('fileupload')" class="filefixerfile"/>
                        </label>
                   </form></td>
               </tr>
           </table>
       </div>
       <div>
           <div class="aftertabby">
               <div class="eventable">
                   <div class="evencell" onclick="detstreamstart" title="click to display cpu detect data" >show moves</div>
                   <div id="editmaskbtn" class="evencell" onclick="editmaskstart(this)" title="click to edit mask for cpu mpvement">edit mask</div>
                   <div class="evencell" onclick="livestreamsstop()" title="click to start / stop live view" >&#x2718</div>
               </div>
               <div class="vidstream">
                    <img id="livestreamimg" src="nocam.png" width="640" height="480" style="z-index:1;"/>
                    <div id="livemaskdiv" style="display:none; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2;">
                          <canvas id="livemaskcanv"></canvas>
                    </div>
                   <div id="detstreamdiv" style="display:none; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:3;">
                   </div>
           </div>
           </div>
               </div>
           <div class="tabwrap">
               <div class="tabby">
               {settings:}
               </div>
           </div>
       </div>
   </body>
</html>
